@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C191A;
    --foreground: #ededed;
  }
}

body {
  color: #F6E7D8;
  background: #1C191A;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.custom-blink-container {
  margin-top: 100px;
  width: 500px; /* Adjust as needed */
  height: 450px; /* or a fixed height */
}
